# Assignment: Basic Python

This assignment will verify that you have the following skills:
- Create lists and dictionaries
- Iterate through lists, tuples, and dictionaries
- Index sequences (e.g. lists and tuples)
- Define functions
- Use optional keyword arguments in functions
```

## Part I: Lists and Loops

In this problem, we will explore the basic data structures and flow controls of Python by _manually creating data structures_.


```{warning}
Pluto is [not a planet any more](https://www.loc.gov/everyday-mysteries/item/why-is-pluto-no-longer-a-planet/).
```

### 1) Create a list with the names of every planet in the solar system (in order)

In [9]:
l = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(l)
type(l)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

list

### 2) Have Python tell you how many planets there are by examining your list

In [10]:
len(l)

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [15]:
print(l[0:4])

['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an `s` at the end

In [24]:
for i in range(len(l)):
    p = l[i]
    if p[-1] == 's':
        print(p)

Venus
Mars
Uranus

## Part II: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

You can use values from this [NASA fact sheet](https://nssdc.gsfc.nasa.gov/planetary/factsheet/).
You can use whatever units you want, but be consistent.

In [27]:
# mass listed in units of 10^24kg
pm = {'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102}

### 2) Use your dictionary to look up Earth's mass

In [29]:
earth_mass = pm['Earth']
print(earth_mass)

5.97

### 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg 

Display your result

In [45]:
for i in pm:
    if (pm[i]) > 100:
        print(i)

Jupiter
Saturn
Neptune

### 4) Now add pluto to your dictionary

In [55]:
pm['Pluto'] = 0.013
pm

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.013}

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [103]:
def temp_kc(temp, unit):
    if unit == 'K': #or 'k' or 'Kelvin' or 'kelvin':
        new_temp = temp - 273.15
    if unit == 'C': #or 'c' or 'Celsius' or 'celsius':
        new_temp = temp + 273.15
    return new_temp

In [107]:
# test function
temp_kc(20, 'C')
temp_kc(20, 'K')

293.15

### 2. Write a function to convert temperature to fahrenheit

Include an optional keyword argument to specify whether the input is in  celcius or kelvin.
Call your previously defined functions if necessary.

In [110]:
def temp_f(temp, unit):
    if unit == 'K': #or 'k' or 'Kelvin' or 'kelvin':
        new_temp = (temp - 273.15)*(9/5)+32
    if unit == 'C': #or 'c' or 'Celsius' or 'celsius':
        new_temp = temp*(9/5)+32
    return new_temp

### 3) Check that the outputs are sensible by trying a few examples

In [111]:
# test function
temp_f(20, 'K')
temp_f(20, 'C')

68.0

### 4) Now write a function that converts _from_ farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [112]:
def temp_f2kc(temp, unit):
    if unit == 'K': #or 'k' or 'Kelvin' or 'kelvin':
        new_temp = (temp-32)*(5/9)+273.15
    if unit == 'C': #or 'c' or 'Celsius' or 'celsius':
        new_temp = (temp-32)*(5/9)
    return new_temp

In [114]:
# test function
temp_f2kc(20, 'K')
temp_f2kc(20, 'C')

-6.666666666666667

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters

Verify it gives sensible answers

In [117]:
def imp2met(feet, inches):
    f2i = feet * 12
    i_total = f2i + inches
    i2m = i_total/39.37
    return i2m

In [119]:
# test function
imp2met(5, 12)

1.8288036576073152

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

(Consult the [tutorial on numbers](https://docs.python.org/3/tutorial/introduction.html#numbers) if you are stuck on how to implement this.)

In [121]:
import math
frac, whole = math.modf(2.5)
frac
whole

0.5

In [122]:
import math
def met2imp(meters):
    i = meters * 39.37
    f = i/12
    frac, whole = math.modf(f)
    new_i = frac * 12
    new_f = whole
    print(new_f,'feet',',', new_i, 'inches')

### 7) Verify that the "round trip" conversion from and back to meters is consistent 

Check for 3 different values of height in meters

In [125]:
# test function
met2imp(1)
met2imp(5)
met2imp(30)

3.0 feet , 3.369999999999999 inches
16.0 feet , 4.84999999999998 inches
98.0 feet , 5.099999999999966 inches

In [130]:
# test "round trip"
imp2met(3, 3.369999999999999)
imp2met(16, 4.84999999999998)
imp2met(98, 5.099999999999966)

30.0